/* 共通 */
body {
  font-size: 18px;
  font-family: 'Noto Serif JP', serif;
  position: relative;
}
.wrapper {
  max-width: 1080px;
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
section {
  padding: 40px;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 38px;
  border-bottom: 5px solid #FF029A;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 64px;
}
.sp-only {
  display: none;
}
@media (max-width:860px) {
  .wrapper {
    width: 95%;
    margin: auto;
    text-align: center;
  }
  .sp-only {
    display: inline;
  }
  .pc-only {
    display: none;
  }
}
/* ナビバー */
header {
  position: relative;
}
.main-nav {
  width: 100%;
  height: 80px;
  background: #fff;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 10;
}
.main-nav-wrapper {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-size: 38px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.nav-menu {
  list-style: none;
  display: flex;
  font-size: 20px;
}
.nav-menu li {
  margin-left: 38px;
}
.nav-menu li a {
  color: #000;
}
.header-img {
  width: 100%;
  object-fit: cover;
  padding: 80px 0 0;
}
.hamburger-menu {
  display: none;
}
.sp-menu {
  display: none;
}
@media (max-width:860px) {
  .main-nav-wrapper {
    width: 95%;
  }

  .height-change {
    display: block;
  }

  .nav-menu {
    display: none;
  }
  .hamburger-menu {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
  .hamburger-menu__line,
  .hamburger-menu__line::before,
  .hamburger-menu__line::after,
  .hamburger-menu__line--dummy {
    position: absolute;
    left: 0;
    width: 44px;
    height: 2px;
    background: #000;
  }
  .hamburger-menu__line::before,
  .hamburger-menu__line::after {
    content: '';
  }
  .hamburger-menu__line,
  .hamburger-menu__line--dummy {
    top: 50%;
    transition: all .3s;
  }
  .hamburger-menu__line::before {
    top: -15px;
    transition: all .3s;
  }
  .hamburger-menu__line::after {
    top: 15px;
    transition: all .3s;
  }
  .sp-menu {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    z-index: 20;
    list-style: none;
    position: absolute;
    top: 80px;
  }
  .sp-menu li {
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  .sp-menu li:hover {
    background: rgba(255, 255, 255, 0.9);
  }
}
/* about */
.about-box {
  display: flex;
  justify-content: space-between;
}
.about-name {
  margin: 64px 0;
}
.about-textbox {
  width: 430px;
  text-align: left;
  position: relative;
}
.about-text p {
  margin-bottom: 30px;
}
.sns-coment {
  color: #FF029A;
}
.sns-box {
  position: absolute;
  top: 497px;
  left: 50%;
  text-align: center;
  display: block;
  margin-left: -107px;
}
.sns-link {
  width: 205px;
  height: 52px;
  border: 1px solid #ccc;
  color: #05a9f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}
.fa-twitter {
  font-size: 24px;
}
.sns-link:hover {
  opacity: 0.8;
}
@media (max-width:860px) {
  .about-box {
    display: flex;
    flex-direction: column;
  }
  .about-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .about-textbox {
    width: 100%;
    text-align: left;
  }
  .sns-box {
    text-align: center;
    display: block; 
    position: static;
    margin:  0;
  }
  .sns-link {
    margin: 13px auto 0;
  }
}
/* work */
#work {
  background: rgba(204, 204, 204, 0.8);
}
.work-box-title,
.work-box-text {
  text-align: left;
}
.work-box-title {
  font-size: 20px;
}
/* サービス */
.survice-box img {
  padding-bottom: 12px;
  margin: 0 auto;
}
.survice-box-title {
  font-size: 20px;
}
/* スマホのみslick起動 */
@media (min-width:860px){
  .sp-swipe {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width:860px) {
  .workbox img {
    margin: 0 auto;
  }
  .work-box-title,
  .work-box-text {
    text-align: center;
  }
}
.dots-class {
  width: 100%;
  text-align: center;
  list-style: none;
  margin-top: 24px;
}
.dots-class li {
  display: inline-block;
  max-width: 13px;
  padding: 0;
  background-color: rgba(204, 204, 204, 0.8);
  border: 1px solid #fff;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 24px;
}
.dots-class li:nth-child(3) {
  margin-right: 0;
}
.dots-class .slick-active {
  border: 1px solid rgba(204, 204, 204, 0.8);
  background-color: #fff;
}
.dots-class li button {
  font-size: 0;
}
/* skill */
#skill {
  background: rgba(204, 204, 204, 0.8);
}
.skill-content {
  display: flex;
  width: 730px;
  margin: auto;
  justify-content: space-between;
}
.skill-list {
  list-style: none;
  text-align: left;
}
.skill-list li {
  padding: 6px 0;
}
.img-group {
  position: relative;
}
.skill-img2 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-365px / 4);
}
@media (max-width:860px) {
  .skill-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .skill-box {
    margin-bottom: 13px;
    width: 100%;
    font-size: 16px;
  }
  .skill-list {
    text-align: center;
  }
  
}
/* contact */
.form-block {
  margin-bottom: 24px;
  align-content: center;
}
input,
select {
  width: 600px;
  height: 70px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
textarea {
  width: 600px;
  height: 218px;
  border: 2px solid #ccc;
  border-radius: 10px;
}
label {
  width: 162px;
  display: inline-block;
  margin-right: 12px;
}
.message-block {
  height: 218px;
  vertical-align: middle;
}
.message {
  height: 218px;
  vertical-align: middle;
}
label span {
  display: inline-block;
  font-size: 14px;
  background: #FF0202;
  color: #fff;
  padding: 4px 8px;
  border-radius: 10px;
}
.button {
  width: 200px;
  border: none;
  background: #1F5EFF;
  color: #fff;
  font-size: 20px;
}
@media (max-width:860px) {
  .message {
    height: auto;
    vertical-align: middle;
  }
  .message-block {
    height: auto;
  }
  label {
    width: auto;
  }
  label span {
    margin-left: 16px;
  }
  input,
  select,
  textarea {
    width: 100%;
  }
  input,
  select {
    height: 40px;
  }
}
/* footer */
footer {
  background: rgba(204, 204, 204, 0.8);
  padding: 20px 0;
}
.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 43px;
}
.footer-menu li {
  padding-left: 32px;
}
.footer-menu li:nth-child(1) {
  padding-left: 0;
}
.copy {
  font-size: 14px;
}
@media (max-width:860px) {
  .footer-menu {
    flex-direction: column;
    margin-bottom: 16px;
  }
  .footer-menu li {
    padding: 0 0 8px;
  }
}
